<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>
<body>
    <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-100x100">
                    <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="Image" width="200">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <span class="title">{{ city_weather.city }}</span>
                        <br>
                        <span class="subtitle">{{ city_weather.temperature }}° F</span>
                        <br> {{ city_weather.description }}
                    </p>
                </div>
            </div>
        </article>
    </div>
</body>
</html>