{% extends "base.html" %}
{% block content %}
<div class="float-container">
    {% for city_weather in weather_data %}
    <div class="float-child">
        <div class="">
            <figure class="image is-50x50">
                <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="Image">
            </figure>
        </div>
        <div class="">
            <div class="">
                <p>
                    <span class="title" style="font-size:15px;">{{ city_weather.city }}</span>
                    <br>
                    <span class="subtitle">{{ city_weather.temperature }}° C</span>
                    <br>
                    {{ city_weather.description }}
                </p>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
